*.bak
*.bck
/kicad/fpgagigepi.kicad_pcb-bak
/kicad/*.bak
/kicad/BOM_fpgagigepi.xls
/kicad/fpgagigepi.csv
/kicad/fpgagigepi.txt
/kicad/figa-pi
/kicad/figa-pi.kicad_pcb-bak
/kicad/library.pretty/LogoGenRND_18x25mm.kicad_mod
/kicad/figa-pi_U5.txt
/kicad.rar
